# Desafio 1

### Exercício 1 - Conjectura de Legendre

A Conjectura de Legendre, enunciada por de Adrien-Marie Legendre, afirma que existe sempre um número primo entre $n^2 $ e $(n+1)^2$, para qualquer $n$ inteiro positivo

Seu desafio será criar uma função que, dado um input (inteiro n) retorne todos os números primos entre $n^2$ e $(n+1)^2$. 

Exemplo:

    > input: 4
    
    > output: [17,19,23]

In [ ]:
def isprime(n):
    """
    Esta função verifica se um número é ou não primo
    """

In [ ]:
def LegendreConjecture(n):
    """
    Esta função calcula a conjectura de Legendre, como descrita acima
    """

In [ ]:
#teste
LegendreConjecture(4)

### Exercício 2

Dada a seguinte string s, escreva uma expressão regular que retorne todos os números de telefone contidos nela.

In [ ]:
s = 'Office of Research Administration: (734) 647-6333 | 4325 North Quad \
Office of Budget and Financial Administration: (734) 647-8044 | 309 Maynard, Suite 205 \
Health Informatics Program: (734) 763-2285 | 333 Maynard, Suite 500 \
Office of the Dean: (734) 647-3576 | 4322 North Quad \
UMSI Engagement Center: (734) 763-1251 | 777 North University \
Faculty Adminstrative Support Staff: (734) 764-9376 | 4322 North Quad'

### Exercício 3
A distância L2, ou distância Euclidiana, é definida pela seguinte fórmula: 

$L2 = \sqrt{\sum_{i=1}^n (a_i - b_i)^2}$

Escreva uma função que receba dois parâmetros, a e b, e retorne a distância L2 entre eles. a e b precisam ser um numpy.array de mesmo tamanho

In [1]:
def l2_dist(a, b):
    pass

In [ ]:
import numpy as np
a = np.array([1,2,4,6])
b = np.array([1,3,5,7])
l2_dist(a,b)

### Exercício 4
Vamos utilizar o dataset breast_cancer_data.csv para fazer uma análise exploratória cujo objetivo é responder a alguns questionamentos que surgiram a respeito desse conjunto.

Vamos começar lendo e entendendo nossos dados:

In [2]:
import pandas as pd
import numpy as np

In [4]:
colunas = ['id','clump_thickness','cell_size_uniformity','cell_shape_uniformity','marginal_adhesion','single_ep_cell_size',
          'bare_nuclei','bland_chromatin','normal_nucleoli','mitoses','class','doctor_name']

data = pd.read_csv('bases/breast_cancer_data.csv',names=colunas)
data.head()

,id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong

#### TODO 2.1: entendimento básico dos dados - preencha as lacunas no código a fim de obter o resultado desejado

In [ ]:
# quantas linhas e quantas colunas existem no dataset?
print('formato: ', xxxxx, '\n')

# quais os tipos de dados de cada coluna?
print('tipos de dados: ', xxxxx,'\n')

# quais as principais estatísticas dos dados numéricos do dataset?
print('principais estatísticas: ', xxxxx, '\n')

#### TODO 2.2: obtendo informações sobre o dataset

retorne uma Serie que mostre qual a classificação (maligno e benigno) que cada médico deu para cada amostra:

In [1]:
# Exemplo de retorno
#  class      doctor_name
#  benign   Dr. Doe        127
#           Dr. Lee        121
#           Dr. Smith      102
#           Dr. Wong       108

In [ ]:
# Resposta:

#### TODO 2.3: obtendo informações sobre o dataset

In [ ]:
# Use o método select_dtypes() para selecionar apenas colunas do tipo float64 e int64. Armazene na variável data_num
data_num = 
#corr
# Encontre as n variáveis que possuem um valor absoluto de correlação maior que 0.5 com a variável clump_thickness, excluindo ela mesma 
# retorne os valores de forma descendente
# sempre utilize a variável data_num para receber o resultado de suas operações

print("Existem {} variáveis correlacionadas com clump_thickness:\n{}".format(len(data_num), data_num))

#### TODO 2.4: obtendo informações sobre o dataset

In [ ]:
# qual o tamanho médio das células para cada tipo de tumor?
print('Tamanho médio do tipo benigno: ',xxxxx,'\n') #
print('Tamanho médio do tipo maligno: ',xxxxx,'\n')

# qual o número máximo de mitoses em tumores benignos encontrados pelo Dr. Wong?
print('Número máximo de mitoses em tumores benignos: ', xxxxx)

# e qual o número máximo de mitoses em tumores malignos encontrados pelo mesmo médico?
print('\nNúmero máximo de mitoses em tumores malignos: ',xxxxx)

#### TODO 2.5: filtrando os dados

In [ ]:
# Existem três pacientes (id) que aparecem mais que duas vezes no dataset. Retorne uma série ordenada de forma descendente que mostre o
# id do paciente bem como a quantidade de vezes que ele aparece repetido no dataset

repeated_patients = xxxxx
# Elimine esses três pacientes do dataframe de modo que este contenha apenas pacientes que apareceram no máximo duas vezes
filtered_patients = xxxxx
#retorne o dataset completo  
filtered_data = xxxxx